# Compiled sources
bin/
.obj/
lib/
*.o
*.slo
*.lo
*.o
*.so
*.lai
*.la
*.a
*.dylib

# Build directory
build/

# Temp files
*~
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]

# Eclipse project description file
.project

